{% extends "base.html" %}

{% block content %}

<form action="/events" method="post">   
    <label for="date">Date</label>
    <input type="date" name="date" id="date">
    <label for="event_name">Event Name</label>
    <input type="text" name="event_name" id="event_name">
    <label for="guest_number">Number of Guests</label>
    <input type="text" name="guest_number" id="guest_number">
    <label for="room">Room Location</label>
    <input type="text" name="room" id="room">
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="4" cols="30"></textarea>
    <input type="submit" value="Add Event">
</form>
<section>
        {% for event in event_list %}
        <div>
        <h1>{{event.name}}</h1>
        <h2>{{event.date.strftime("%b %d %Y") }}</h2>
        <h2>{{event.guest_number}}</h2>
        <h2>{{event.room}}</h2>
        <h2>{{event.description}}</h2>
        </div>
        {% endfor %} </section>
        {% endblock %}